table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
th {
  border-bottom: 1px solid green;
  position: relative;
  /* bottom: -20%; */
}
td,
tr:last-child {
  border-bottom: 1px solid #ccc;
}
.mat-header-row {
  margin-bottom: 0px;
}
td {
  position: relative;
  align-items: center;
  /* left: 4%; */
  /* top: -3%; */
  padding: 2px 0px;
}

/* This hover works  */
table tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.hover-effect:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.long-text-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10px;
  position: relative;
}
/* .long-text-cel::after {
  content: '>>>';
  position: absolute;
  right: 0;
  top: 0;
} */
